/*
  Color Palette: https://www.color-hex.com/color-palette/83706
  Color	      Hex	    RGB
  Teal        #00ffd7	(0,255,215)
  Dark Teal   #00a29c	(0,162,156)
  Black       #000000	(0,0,0)
  White       #ffffff	(255,255,255)
  Green       #64ff00	(100,255,0)
*/

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 70px;
  width: 80%;
  background-color: #00a29c	;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*navbar = Header.js*/
.navbar a {
  color: #00a29c !important;
  font-size: 1.3em;
}

.navbar a:hover {
  color: #00ffd7 !important;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
  background: none;
  padding: none;
}

img {
  width: 100%;
}